.btn-action {
    margin: 0px 10px;
    cursor: pointer;
}

#content {
    width: 70vw;
    margin: 5px 15vw;
}

@media (max-width: 500px) 
{
    #content {
        width: 90vw;
        margin: 5px 5vw;
    }
}

.form {
    mat-form-field {
        width: 100%;
    }

    .mat-raised-button.mat-primary {
        margin-left: 15px;
    }
}

.list {
    margin-top: 25px;
}